In [67]:
import pandas as pd
from datetime import datetime


iniciodelsemestre = datetime(2024, 1, 3)
findelsemestre = datetime(2024, 6, 14)

In [68]:
#Calculate the difference in days
diferenciadias = findelsemestre - iniciodelsemestre
print(diferenciadias)

163 days, 0:00:00

In [69]:
def produce_time_serires(startdate, enddate, weekdays):
    #cheat = {0: 'Lunes', 1: 'Martes', 2: 'Miercoles', 3: 'Jueves', 4: 'Viernes', 5: 'Sabado', 6: 'Domingo'}
    datelist = pd.date_range(startdate, enddate)
    datelist = datelist[datelist.weekday.isin(weekdays)]
    return datelist

In [70]:
laboral = produce_time_serires(iniciodelsemestre, findelsemestre, [0,1,2,3,4])

In [71]:
laboral.to_frame().groupby(laboral.month).count()

    0
1  21
2  21
3  21
4  22
5  23
6  10

In [72]:
laboral

DatetimeIndex(['2024-01-03', '2024-01-04', '2024-01-05', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-15', '2024-01-16',
               ...
               '2024-06-03', '2024-06-04', '2024-06-05', '2024-06-06',
               '2024-06-07', '2024-06-10', '2024-06-11', '2024-06-12',
               '2024-06-13', '2024-06-14'],
              dtype='datetime64[ns]', length=118, freq=None)

In [73]:

pd.Series(produce_time_serires(iniciodelsemestre, findelsemestre, [0,1,2,3,4,5])).transpose().to_clipboard(header=False)

In [74]:
semestres = produce_time_serires(iniciodelsemestre, findelsemestre, [0, 3])

In [75]:
semestres = pd.Series(semestres)

In [76]:
semestres.to_clipboard(header=False)

In [77]:
laboral = laboral.groupby(semestres.dt.month)
laboral.plot(kind='bar')

AttributeError: 'PrettyDict' object has no attribute 'plot'

In [ ]:
laboral

1    8
2    9
3    8
4    9
5    9
6    4
dtype: int64